// COOPER UNION COLORS
$cooper-red: #ed1c24;
$cooper-blue: #00aeef;
$cooper-gold: #ffcf06;
$cooper-green: #00914d;
$cooper-gray: #363639;

body {
  margin: 0;
  padding: 0;
}

#container {
  min-width: 310px;
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
}